gdl90:
    dest: 192.168.10.255:4000
    interval: 1s
    record:
        enable: false
        path: ./gdl90-record.log
    replay:
        enable: false
        path: ./gdl90-record.log
        speed: 1
        loop: false
gps:
    enable: true
    source: gpsd
    gpsd_addr: 127.0.0.1:2947
    device: /dev/stratux-gps
    baud: 9600
    horizontal_accuracy_m: 10
ownship:
    icao: F00000
    callsign: STRATUX
ahrs:
    enable: true
    i2c_bus: 1
    imu_addr: 104
    baro_addr: 119
    orientation:
        forward_axis: 2
        gravity_in_sensor:
            - -0.006832413723942425
            - -0.11065199776608238
            - -0.9938357276296117
fan:
    enable: true
    backend: auto
    pwm_pin: 18
    pwm_frequency: 64000
    temp_target_c: 50
    pwm_duty_min: 0
    update_interval: 5s
web:
    listen: :80

adsb1090:
    enable: true
    decoder:
        command: dump1090-fa
        args:
            - --device-type
            - rtlsdr
            - --net
            - --net-stratux-port
            - "30006"
            - --modeac
        json_listen: 127.0.0.1:30006
    sdr:
        serial_tag: auto

uat978:
    enable: true
    decoder:
        command: dump978-fa
        args:
            - --json-port
            - "30978"
            - --raw-port
            - "30979"
        json_listen: 127.0.0.1:30978
        raw_listen: 127.0.0.1:30979
    sdr:
        serial_tag: auto
