gdl90:
    dest: 192.168.1.255:4000
    interval: 1s
    record:
        enable: false
        path: ./gdl90-record.log
    replay:
        enable: false
        path: ./gdl90-record.log
        speed: 1
        loop: false
gps:
    enable: true
    source: gpsd
    gpsd_addr: 127.0.0.1:2947
    device: /dev/stratux-gps
    baud: 9600
    horizontal_accuracy_m: 10
sim:
    ownship:
        center_lat_deg: 45.5404
        center_lon_deg: -122.9498
        alt_feet: 3000
        ground_kt: 90
        gps_horizontal_accuracy_m: 50
        radius_nm: 0.5
        period: 2m0s
        icao: F00000
        callsign: STRATUX
    traffic:
        enable: false
        count: 6
        radius_nm: 2
        period: 1m30s
        ground_kt: 120
    scenario:
        enable: false
        path: ./configs/scenarios/edgecases.yaml
        start_time_utc: "2020-01-01T00:00:00Z"
        loop: false
ahrs:
    enable: true
    i2c_bus: 1
    imu_addr: 104
    baro_addr: 119
    orientation:
        forward_axis: -2
        gravity_in_sensor:
            - -0.020923741830921962
            - -0.11055439047436445
            - -0.9936497993632539
fan:
    enable: true
    pwm_pin: 18
    pwm_frequency: 64000
    temp_target_c: 50
    pwm_duty_min: 0
    update_interval: 5s
web:
    listen: :8080
