[Unit]
Description=Stratux-NG Wi-Fi configuration
DefaultDependencies=no
After=systemd-udev-settle.service network-pre.target
Before=network.target hostapd.service dnsmasq.service
Wants=network-pre.target

[Service]
Type=oneshot
Environment=STRATUX_NG_CONFIG=/data/stratux-ng/config.yaml
ExecStart=/usr/local/bin/stratux-ng-wifi-apply -iface ap0 -uplink-iface wlan0 -out /etc/dnsmasq.d/stratux-ng.conf -hostapd-out /etc/hostapd/hostapd.conf -apply
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
