[Unit]
Description=Stratux-NG Wi-Fi settings -> dnsmasq config
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=STRATUX_NG_CONFIG=/data/stratux-ng/config.yaml
ExecStart=/usr/local/bin/stratux-ng-wifi-apply -iface ap0 -uplink-iface wlan0 -out /etc/dnsmasq.d/stratux-ng.conf -hostapd-out /etc/hostapd/hostapd.conf -apply

[Install]
WantedBy=multi-user.target
